Kino_flows_26.11.2024.json
[
    {
        "id": "3b16e02f6282f3dd",
        "type": "http request",
        "z": "1c94b1404684df75",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.2.22/cm?cmnd=Power1%20On",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 40,
        "wires": [
            [
                "cf448d9a9e6eec4b"
            ]
        ]
    },
    {
        "id": "87af082e63b4ab9f",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Anschalten",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "PWON",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "75c110fac5a98ec0",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Eingang auf TV",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "SITV",
        "x": 920,
        "y": 220,
        "wires": []
    },
    {
        "id": "108dd80de5c3a7d3",
        "type": "shelly-gen2",
        "z": "1c94b1404684df75",
        "hostname": "192.168.2.24",
        "description": "Rolladen links",
        "mode": "polling",
        "verbose": false,
        "server": "",
        "outputmode": "event",
        "uploadretryinterval": 5000,
        "pollinginterval": 5000,
        "pollstatus": false,
        "getstatusoncommand": false,
        "devicetype": "SNSW-002P16EU",
        "devicetypemustmatchexactly": false,
        "captureblutooth": false,
        "outputs": 1,
        "x": 880,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e2bb92123d7e6566",
        "type": "function",
        "z": "1c94b1404684df75",
        "name": "function 1",
        "func": "msg.payload = {\n    method: \"Cover.GoToPosition\",\n    parameters: {\n        id: 0,\n        pos: 80, \n}\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 300,
        "wires": [
            [
                "108dd80de5c3a7d3"
            ]
        ]
    },
    {
        "id": "3ed91908e4e58429",
        "type": "tuya-smart-device",
        "z": "1c94b1404684df75",
        "deviceName": "Wohnzimmerlampe",
        "disableAutoStart": false,
        "deviceId": "",
        "deviceKey": "",
        "storeAsCreds": true,
        "deviceIp": "",
        "retryTimeout": 1000,
        "findTimeout": 10000,
        "tuyaVersion": "3.1",
        "eventMode": "event-both",
        "logLevel": "log-level-disable",
        "x": 1430,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "4d83163435c22459",
        "type": "change",
        "z": "1c94b1404684df75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 360,
        "wires": [
            [
                "e66f965adf778ad3",
                "ae014fde2a54b3a0"
            ]
        ]
    },
    {
        "id": "936bc90e47f592cc",
        "type": "switch",
        "z": "1c94b1404684df75",
        "name": "",
        "property": "payload.directive",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "TurnOn",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "TurnOff",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "3b16e02f6282f3dd",
                "e2bb92123d7e6566",
                "4d83163435c22459",
                "093232d63def1b33",
                "f0c37149d0355bd3"
            ],
            [
                "d2da1a932d4efaa1",
                "507bbb7c0244df32",
                "11bb9e725b8e353b",
                "5362f69e117025cb"
            ]
        ]
    },
    {
        "id": "d2da1a932d4efaa1",
        "type": "http request",
        "z": "1c94b1404684df75",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.2.22/cm?cmnd=Power1%20Off",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 730,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "507bbb7c0244df32",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Auschalten Main",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "PWSTANDBY",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "b8b07e177c05694f",
        "type": "function",
        "z": "1c94b1404684df75",
        "name": "",
        "func": "msg.payload ={\n   dps: 20,\n    set: msg.payload\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 620,
        "wires": [
            [
                "3ed91908e4e58429"
            ]
        ]
    },
    {
        "id": "c9125f3460ee44df",
        "type": "change",
        "z": "1c94b1404684df75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 910,
        "y": 620,
        "wires": [
            [
                "b8b07e177c05694f"
            ]
        ]
    },
    {
        "id": "11bb9e725b8e353b",
        "type": "trigger",
        "z": "1c94b1404684df75",
        "name": "",
        "op1": "",
        "op2": "off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "20",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 710,
        "y": 620,
        "wires": [
            [
                "c9125f3460ee44df"
            ]
        ]
    },
    {
        "id": "b2c162ee8164a398",
        "type": "comment",
        "z": "1c94b1404684df75",
        "name": "Schaltet Denon,TV, Stehampe ein, Rolladen auf 80%",
        "info": "",
        "x": 350,
        "y": 340,
        "wires": []
    },
    {
        "id": "52ef537f6edb6679",
        "type": "comment",
        "z": "1c94b1404684df75",
        "name": "Schaltet Denon,TV aus,Stehlampe nach 20 sek",
        "info": "",
        "x": 340,
        "y": 480,
        "wires": []
    },
    {
        "id": "5362f69e117025cb",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Auschalten Zone2",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "Z2OFF",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "5f11e50244cf8882",
        "type": "denon-out",
        "z": "1c94b1404684df75",
        "name": "Volume 20",
        "controller": "f135d338f967faa2",
        "unit_number": "1",
        "output": "1",
        "denoncommand": "MV20",
        "x": 1110,
        "y": 160,
        "wires": []
    },
    {
        "id": "bb8e11613e3a88a2",
        "type": "debug",
        "z": "1c94b1404684df75",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 220,
        "wires": []
    },
    {
        "id": "093232d63def1b33",
        "type": "trigger",
        "z": "1c94b1404684df75",
        "name": "",
        "op1": "",
        "op2": "on",
        "op1type": "nul",
        "op2type": "str",
        "duration": "2",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "75c110fac5a98ec0",
                "eee1c7dd818ec955"
            ]
        ]
    },
    {
        "id": "eee1c7dd818ec955",
        "type": "trigger",
        "z": "1c94b1404684df75",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 920,
        "y": 160,
        "wires": [
            [
                "5f11e50244cf8882"
            ]
        ]
    },
    {
        "id": "d4d507a02b14e608",
        "type": "vsh-virtual-device",
        "z": "1c94b1404684df75",
        "name": "Kino",
        "topic": "Kino",
        "metadata": "",
        "connection": "",
        "template": "SWITCH",
        "retrievable": false,
        "passthrough": false,
        "diff": false,
        "filter": false,
        "filterTopic": false,
        "plan": "free",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "936bc90e47f592cc",
                "bb8e11613e3a88a2"
            ]
        ]
    },
    {
        "id": "d4301e387523f264",
        "type": "inject",
        "z": "1c94b1404684df75",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "d4d507a02b14e608"
            ]
        ]
    },
    {
        "id": "f0c37149d0355bd3",
        "type": "trigger",
        "z": "1c94b1404684df75",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "nul",
        "op2type": "num",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 740,
        "y": 100,
        "wires": [
            [
                "87af082e63b4ab9f"
            ]
        ]
    },
    {
        "id": "cf448d9a9e6eec4b",
        "type": "delay",
        "z": "1c94b1404684df75",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 940,
        "y": 40,
        "wires": [
            [
                "d432382a5ce23133"
            ]
        ]
    },
    {
        "id": "d71079ff0f29688b",
        "type": "wake on lan",
        "z": "1c94b1404684df75",
        "mac": "00:A1:59:37:33:F6",
        "host": "192.168.2.60",
        "udpport": 9,
        "numpackets": 3,
        "interval": 100,
        "name": "",
        "x": 1430,
        "y": 40,
        "wires": []
    },
    {
        "id": "d432382a5ce23133",
        "type": "change",
        "z": "1c94b1404684df75",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 40,
        "wires": [
            [
                "d71079ff0f29688b"
            ]
        ]
    },
    {
        "id": "ab69f4a8c737cc63",
        "type": "function",
        "z": "1c94b1404684df75",
        "name": "",
        "func": "msg.payload =\n{\n    dps: 22,\n    set: 10,\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 420,
        "wires": [
            [
                "3ed91908e4e58429"
            ]
        ]
    },
    {
        "id": "e66f965adf778ad3",
        "type": "delay",
        "z": "1c94b1404684df75",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 420,
        "wires": [
            [
                "ab69f4a8c737cc63"
            ]
        ]
    },
    {
        "id": "ae014fde2a54b3a0",
        "type": "function",
        "z": "1c94b1404684df75",
        "name": "",
        "func": "msg.payload = \n{\ndps:20,\nset: true,\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 360,
        "wires": [
            [
                "3ed91908e4e58429"
            ]
        ]
    },
    {
        "id": "f135d338f967faa2",
        "type": "denon-controller",
        "name": "Denon",
        "host": "192.168.2.229",
        "port": "23"
    },
    {
        "id": "8942056a60da26d4",
        "type": "vsh-connection",
        "name": "",
        "port": "8883",
        "accessTokenExpiry": "",
        "debug": false,
        "backendUrl": "",
        "lwaClientId": ""
    }
]
